
@import '../../UiComponents/Scss/variables';

.css-1t1j96h-MuiPaper-root-MuiDialog-paper , .MuiDialog-paper{
    width: 100% !important;
    border: 1px solid $Nav-Color !important;
    border-radius: 0px !important;
}